@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100vw;

}

.logo {
    display: flex;
    margin: 0;
    height: 100px;
}


header nav {
    padding-bottom: 0px;
    display: flex;
    background-color: #b99ded;
    justify-content: space-evenly;
}

header nav .logo {
    display: flex;
    justify-content: flex-start;

}

header nav ul {

    margin: 20px;
    padding: 17px 30px;
    display: flex;
    list-style-type: none;
    font-size: 22px;
    font-family: monospace;
}

header nav ul li {
    padding-left: 45px;
    margin-left: 10px;
    list-style-type: none;
}

header nav ul li a {
    border-radius: 14px;
    text-decoration: none;
    color: black;
    float: left;
    padding: 0px 5px;
}

header nav ul li a:hover {
    background-color: #d7cbe5;
    color: rgb(79, 2, 156);
}

header nav .searchbox {
    margin: 28px;
    padding: 5px;
    margin-left: 10px;

}


header nav .searchbox input {
    width: 500px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 3px solid rgb(9, 72, 37);
    padding-left: 15px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

header nav .searchbox button {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: rgb(202 178 233);
    cursor: pointer;
    font-family:'Poppins', sans-serif;
    font-weight: 1000;
   

}

header nav .searchbox button:hover {
    background-color: rgb(124, 66, 231);
}



main {
    background-color: #d8cae9;
    height: 150vh;
    padding-top: 100px;
}

main .content {
    display: flex;
}
main .content section {
    margin: 70px;
    padding: 25px;
}
main .content section a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
}